html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 15px;
  border: none;
  font-weight: normal;
  font-size: 17px;
  font-family: Arial, Verdana, sans-serif;
  text-decoration: none;
}
.large.button {
  padding: 30px;
  font-size: 21px;
}
.bordered.button {
  border: 2px solid;
  background: none;
}

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

hr {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 5px solid #f0f0f0;
}

a {
  color: #6d5cae;
  font-weight: bold;
  font-family: Arial, Verdana, sans-serif;
  text-decoration: none;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.width-full {
  width: 100% !important;
}

.height-full {
  height: 100% !important;
}

.width-half {
  width: 50% !important;
}

.height-half {
  height: 50% !important;
}

.float-none {
  float: none !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-upper {
  text-transform: uppercase !important;
}

.text-lower {
  text-transform: lowercase !important;
}

.text-xlarge {
  font-size: 1.4em !important;
}

.text-large {
  font-size: 1.2em !important;
}

.text-small {
  font-size: 0.9em !important;
}

.text-xsmall {
  font-size: 0.8em !important;
}

.text-mega {
  font-size: 2.5em !important;
}

.text-ultra {
  font-size: 3.5em !important;
}

.border-none {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid #f0f0f0 !important;
}

.border-right {
  border-right: 1px solid #f0f0f0 !important;
}

.border-bottom {
  border-bottom: 1px solid #f0f0f0 !important;
}

.border-left {
  border-top: 1px solid #f0f0f0 !important;
}

.border-large {
  border-width: 3px !important;
}

.nowrap {
  white-space: nowrap !important;
}

.centered {
  margin: 0 auto !important;
}

.pointer {
  cursor: pointer !important;
}

.table-main {
  display: table;
  width: 90%;
  max-width: 800px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  background: #fff;
  color: #444;
}

.table-main-top > td {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-right: 30px;
  height: 10px;
  background: #6d5cae;
}

.table-main-header > td {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;
  text-align: center;
}
.table-main-header img {
  display: inline-block;
}
.table-main-header .title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 23px;
  font-family: Arial, Verdana, sans-serif;
}

.table-main-footer > td {
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  color: #ccc;
  text-align: center;
}
.table-main-footer > td p {
  margin-bottom: 15px;
  font-size: 11px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 140%;
}
.table-main-footer > td img {
  display: inline-block;
  margin-top: 15px;
}

.table-main-body > td {
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-align: center;
}
.table-main-body > td p {
  margin-bottom: 15px;
  font-size: 14px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 160%;
}
.table-main-body > td .greeting {
  color: #6d5cae;
  font-size: 19px;
}
.table-main-body > td .signature {
  margin-top: 30px;
}
.table-main-body > td .pane {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  background: whitesmoke;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.table-main-body > td .pane p:last-child {
  margin-bottom: 0;
}

.table-details tr:last-child th,
.table-details tr:last-child td {
  border: none;
}
.table-details th,
.table-details td {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-weight: normal;
  font-family: Arial, Verdana, sans-serif;
  line-height: 140%;
}
.table-details th {
  border-bottom: 1px solid #ddd;
  color: #aaa;
  font-size: 11px;
  text-transform: uppercase;
  text-align: right;
}
.table-details td {
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.button {
  background: #6d5cae;
  color: #fff;
}
.button.bordered {
  border-color: #6d5cae;
  color: #6d5cae;
}
.button.link {
  background: none;
  color: #6d5cae;
}

.button.warning {
  background: #ff9800;
  color: #fff;
}
.button.warning.bordered {
  border-color: #ff9800;
  background: none;
  color: #ff9800;
}
.button.warning.link {
  background: none;
  color: #ff9800;
}

.button.success {
  background: #4caf50;
  color: #fff;
}
.button.success.bordered {
  border-color: #4caf50;
  background: none;
  color: #4caf50;
}
.button.success.link {
  background: none;
  color: #4caf50;
}

.button.danger {
  background: #f44336;
  color: #fff;
}
.button.danger.bordered {
  border-color: #f44336;
  background: none;
  color: #f44336;
}
.button.danger.link {
  background: none;
  color: #f44336;
}

.button.info {
  background: #00bcd4;
  color: #fff;
}
.button.info.bordered {
  border-color: #00bcd4;
  background: none;
  color: #00bcd4;
}
.button.info.link {
  background: none;
  color: #00bcd4;
}

.button.secondary {
  background: #bbb;
  color: #fff;
}
.button.secondary.bordered {
  border-color: #bbb;
  background: none;
  color: #bbb;
}
.button.secondary.link {
  background: none;
  color: #bbb;
}

.ticket-details {
  display: inline-block;
  width: 58mm;
  padding: 15px;
  border: 1px dotted #000;
  background: #fff;
  text-align: center;
}

.ticket-details-heading h1 {
  font-weight: bold;
  font-size: 17px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}
.ticket-details-heading h2 {
  font-weight: normal;
  font-size: 13px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}

.ticket-details-body {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
.ticket-details-body .session .service {
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}
.ticket-details-body .session .resource {
  margin-top: 2px;
  font-weight: normal;
  font-size: 11px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}
.ticket-details-body .code {
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}
.ticket-details-body .date {
  margin-top: 10px;
  font-weight: bold;
  font-size: 11px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}
.ticket-details-body .forecast {
  margin-top: 5px;
  font-weight: bold;
  font-size: 11px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}
.ticket-details-body .note {
  margin-top: 10px;
  font-weight: normal;
  font-size: 10px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}

.ticket-details-footer {
  font-weight: normal;
  font-style: italic;
  font-size: 10px;
  font-family: Arial, Verdana, sans-serif;
  line-height: 100%;
}
