body
  margin: 0
  padding: 0
  background: $color-lighter

strong
  font-weight: bold

em
  font-style: italic

table
  display: table
  width: 100%
  border-collapse: collapse

hr
  width: 100px
  margin:
    top: $main-table-gap
    bottom: $main-table-gap
  border: none
  border-bottom: 5px solid $color-lighter

a
  color: map-get($color-custom, 1)
  font:
    weight: bold
    family: $font-default
  text-decoration: none
