// Display
.display-none
  display: none !important

.display-block
  display: block !important

.display-inline
  display: inline !important

.display-inline-block
  display: inline-block !important

// Dimensions
.width-full
  width: 100% !important

.height-full
  height: 100% !important

.width-half
  width: 50% !important

.height-half
  height: 50% !important

// Floating
.float-none
  float: none !important

.float-left
  float: left !important

.float-right
  float: right !important

// Text
.text-left
  text-align: left !important

.text-right
  text-align: right !important

.text-center
  text-align: center !important

.text-justify
  text-align: justify !important

.text-upper
  text-transform: uppercase !important

.text-lower
  text-transform: lowercase !important

.text-xlarge
  font-size: 1.4em !important

.text-large
  font-size: 1.2em !important

.text-small
  font-size: 0.9em !important

.text-xsmall
  font-size: 0.8em !important

.text-mega
  font-size: 2.5em !important

.text-ultra
  font-size: 3.5em !important

// Border
.border-none
  border: 0 !important

.border-top
  border-top: 1px solid $color-lighter !important

.border-right
  border-right: 1px solid $color-lighter !important

.border-bottom
  border-bottom: 1px solid $color-lighter !important

.border-left
  border-top: 1px solid $color-lighter !important

.border-large
  border-width: 3px !important

// Miscellaneous
.clearfix
  @extend %clearfix

.nowrap
  white-space: nowrap !important

.centered
  margin: 0 auto !important

.pointer
  cursor: pointer !important
