=button($name: null, $color: map-get($color-custom, 1))
  .button
    @if $name
      &.#{$name}
        background: $color
        color: #fff

        &.bordered
          border-color: $color
          background: none
          color: $color

        &.link
          background: none
          color: $color

    @else
      @extend %button

      background: $color
      color: #fff

      &.bordered
        border-color: $color
        color: $color

      &.link
        background: none
        color: $color
