%clearfix
  &:after
    content: ''
    display: table
    clear: both

%button
  +border-radius($main-border-radius)

  display: inline-block
  padding: ($main-table-gap / 2)
  border: none
  font:
    weight: normal
    size: 17px
    family: $font-default
  text-decoration: none

  &.large
    padding: $main-table-gap
    font-size: 21px

  &.bordered
    border: 2px solid
    background: none
