// Main
.table-main
  display: table
  width: 90%
  max-width: $main-width-max
  margin:
    top: $main-table-gap
    right: auto
    bottom: $main-table-gap
    left: auto
  background: #fff
  color: $color-dark

.table-main-top
  > td
    margin:
      top: 0
      right: $main-table-gap
      bottom: 0
      right: $main-table-gap
    height: 10px
    background: map-get($color-custom, 1)

.table-main-header
  > td
    padding:
      top: $main-table-gap
      right: $main-table-gap
      bottom: 0
      left: $main-table-gap
    text-align: center

  img
    display: inline-block

  .title
    margin-top: 15px
    font:
      weight: bold
      size: 23px
      family: $font-default

.table-main-footer
  > td
    padding:
      top: 0
      right: $main-table-gap
      bottom: $main-table-gap
      left: $main-table-gap
    color: $color-light
    text-align: center

    p
      margin-bottom: 15px
      font:
        size: 11px
        family: $font-default
      line-height: 140%

    img
      display: inline-block
      margin-top: 15px

.table-main-body
  > td
    padding:
      top: 0
      right: $main-table-gap
      bottom: $main-table-gap
      left: $main-table-gap
    text-align: center

    p
      margin-bottom: 15px
      font:
        size: 14px
        family: $font-default
      line-height: 160%

    .greeting
      color: map-get($color-custom, 1)
      font-size: 19px

    .signature
      margin-top: 30px

    .pane
      +border-radius($main-border-radius)

      margin:
        top: 15px
        bottom: 15px
      padding: $main-table-gap
      background: lighten($color-lighter, 2%)
      color: #000
      font:
        weight: bold
        size: 14px

      p:last-child
        margin-bottom: 0

// Details
.table-details
  tr
    &:last-child
      th,
      td
        border: none

  th,
  td
    padding:
      top: 10px
      right: 20px
      bottom: 10px
      left: 20px
    font:
      weight: normal
      family: $font-default
    line-height: 140%

  th
    border-bottom: 1px solid #ddd
    color: #aaa
    font-size: 11px
    text:
      transform: uppercase
      align: right

  td
    border-bottom: 1px solid #ddd
    font-size: 12px
