<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Filazero</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <table class="table-main">
    <tr class="table-main-top">
      <td></td>
    </tr>

    <tr class="table-main-header">
      <td>
        <div class="heading">
          <a href="http://filazero.net">
            <img src="../img/logo-filazero-header.png" alt="Logo Filazero">
          </a>

          <div class="title">{{heading}}</div>
        </div>

        <hr>
      </td>
    </tr>

    <tr class="table-main-body">
      <td>
        <p class="greeting">Sua nova conta está quase pronta, {{username}}...</p>

        <p>Você só precisa agora confirmar o seu cadastro:</p>

        <a href="{{confirmUrl}}" class="button">Confirmar cadastro de conta</a>

        <hr>

        <p class="signature">
          Atenciosamente,<br>
          Equipe Filazero
        </p>
      </td>
    </tr>

    <tr class="table-main-footer">
      <td>
        <p>
          Baixe o nosso aplicativo e acompanhe os seus bilhetes a partir do celular ou tablet:<br>
          <a href="https://itunes.apple.com/us/app/filazero/id1077360648?l=pt&ls=1&mt=8"><img src="../img/button-applestore.png"></a>
          <a href="https://play.google.com/store/apps/details?id=com.inventione.filazero"><img src="../img/button-googleplay.png"></a>
        </p>

        <hr>

        <p>Em caso de dúvida, basta responder esse email ou nos contatar no <a href="mailto:suporte@filazero.net">suporte@filazero.net</a>.</p>
        <p>Você também pode nos acompanhar no <a href="https://facebook.com/filazeroofficial">Facebook</a>.</p>
        <a href="http://filazero.net">
          <img src="../img/logo-filazero-footer.png" alt="Logo Filazero">
        </a>
      </td>
    </tr>
  </table>
</body>
</html>
