<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Filazero</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <table class="table-main">
    <tr class="table-main-top">
      <td></td>
    </tr>

    <tr class="table-main-header">
      <td>
        <div class="heading">
          <a href="http://filazero.net">
            <img src="../img/logo-filazero-header.png" alt="Logo Filazero">
          </a>

          <div class="title">{{heading}}</div>
        </div>

        <hr>
      </td>
    </tr>

    <tr class="table-main-body">
      <td>
        <p class="greeting">Olá, {{username}}!</p>

        <p>Há vaga disponível para o seguinte serviço:</p>

        <div class="pane">
          <p class="text-small">
            <span class="text-upper">{{providerName}}</span><br>
            <em>{{locationName}}</em>
          </p>
          <p class="text-xlarge">{{serviceName}}</p>
        </div>

        <hr>

        <p>
          <strong><em>Este serviço não está disponível para o autoatendimento.</em></strong><br>
          Garanta já a sua vaga ligando para:
        </p>
        <a href="tel:{{LocationPhoneNumber}}" class="text-xlarge">{{LocationPhoneNumber}}</a>

        <hr>

        <p>Acesse <a href="http://filazero.net">filazero.net</a> para sair dessa fila de espera a qualquer momento:</p>
        <a href="{{site-root}}/#/app/overbooking/{{guid}}/cancel" class="button secondary">Sair dessa fila de espera</a>

        <hr>

        <p class="signature">
          Atenciosamente,<br>
          Equipe Filazero
        </p>
      </td>
    </tr>

    <tr class="table-main-footer">
      <td>
        <p>
          Baixe o nosso aplicativo e acompanhe os seus bilhetes a partir do celular ou tablet:<br>
          <a href="https://itunes.apple.com/us/app/filazero/id1077360648?l=pt&ls=1&mt=8"><img src="../img/button-applestore.png"></a>
          <a href="https://play.google.com/store/apps/details?id=com.inventione.filazero"><img src="../img/button-googleplay.png"></a>
        </p>

        <hr>

        <p>Em caso de dúvida, basta responder esse email ou nos contatar no <a href="mailto:suporte@filazero.net">suporte@filazero.net</a>.</p>
        <p>Você também pode nos acompanhar no <a href="https://facebook.com/filazeroofficial">Facebook</a>.</p>
        <a href="http://filazero.net">
          <img src="../img/logo-filazero-footer.png" alt="Logo Filazero">
        </a>
      </td>
    </tr>
  </table>
</body>
</html>
