<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Filazero</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <table class="table-main">
    <tr class="table-main-top">
      <td></td>
    </tr>

    <tr class="table-main-header">
      <td>
        <div class="heading">
          <a href="http://filazero.net">
            <img src="../img/logo-filazero-header.png" alt="Logo Filazero">
          </a>

          <div class="title">{{heading}}</div>
        </div>

        <hr>
      </td>
    </tr>

    <tr class="table-main-body">
      <td>
        <p class="greeting">Olá, {{username}}!</p>

        <p>Um novo bilhete foi emitido em seu nome:</p>

        <div class="pane">
          <table class="table-details">
            <tr>
              <th>Bilhete</th>
              <td><span class="text-xlarge"><strong>{{friendlyCode}}</strong></span></td>
            </tr>

            <tr>
              <th>Serviço</th>
              <td>{{serviceName}}</td>
            </tr>

            <tr style="{{resourceStyle}}">
              <th>Recurso</th>
              <td>{{resourceName}}</td>
            </tr>

            <tr>
              <th>Onde</th>
              <td>
                <strong>{{providerName}}</strong><br>
                <em>{{locationName}}</em>

                <address>
                  {{locationAddress}}
                </address>
              </td>
            </tr>

            <tr>
              <th>Quando</th>
              <td>
                <strong>{{sessionDayOfWeek}}</strong><br>
                {{sessionDate}}<br>
                {{sessionStart}} às {{sessionEnd}}
              </td>
            </tr>
          </table>
        </div>

        <hr>

        <p>IMPORTANTE!</p>
        <p>
          <strong>Este bilhete está aguardando uma confirmação.</strong><br>
          Sem a confirmação, o bilhete não será chamado para atendimento.
        </p>

        <hr>

        <P>ACOMPANHE OS SEUS BILHETES</p>
        <p><img src="../img/devices.png" width="140" height="auto"></p>
        <p>Baixe o nosso aplicativo e acompanhe os seus bilhetes a partir do celular ou tablet:</p>
        <a href="https://itunes.apple.com/us/app/filazero/id1077360648?l=pt&ls=1&mt=8"><img src="../img/button-applestore.png"></a>
        <a href="https://play.google.com/store/apps/details?id=com.inventione.filazero"><img src="../img/button-googleplay.png"></a>

        <hr>

        <p>Ou acesse <a href="http://filazero.net">filazero.net</a> para ver os detalhes de seu bilhete a qualquer momento:</p>
        <a href="{{site-root}}/#/app/account/tickets" class="button">Acessar meus bilhetes</a>

        <hr>

        <p class="signature">
          Atenciosamente,<br>
          Equipe Filazero
        </p>
      </td>
    </tr>

    <tr class="table-main-footer">
      <td>
        <p>Em caso de dúvida, basta responder esse email ou nos contatar no <a href="mailto:suporte@filazero.net">suporte@filazero.net</a>.</p>
        <p>Você também pode nos acompanhar no <a href="https://facebook.com/filazeroofficial">Facebook</a>.</p>
        <a href="http://filazero.net">
          <img src="../img/logo-filazero-footer.png">
        </a>
      </td>
    </tr>
  </table>
</body>
</html>
